asgiref==3.7.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cloudinary==1.38.0
cryptography==42.0.2
Django==5.0.1
django-cloudinary-storage==0.3.0
django-cors-headers==4.3.1
django-rest-knox==4.2.0
djangorestframework==3.14.0
idna==3.6
pycparser==2.21
python-decouple==3.8
python-dotenv==1.0.1
pytz==2024.1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.2.0
